body {
  background: green;
}

h1, pre {
  color: white;
}

h1, button {
  font-family: helvetica
}

button {
  border: none;
  border-radius: 2px;
  background: white;
  padding: 4px 2px;
  color: green;
}
