body {
  background: black;
}

h1, pre {
  color: white;
}

h1, button {
  font-family: Georgia
}

button {
  border: none;
  border-radius: 5px;
  background: white;
  padding: 5px 3px;
  color: green;
}